<div id="color-container">
  <% @colors.each do |color| %>
      <div class="color-box" style="background:<%= color.hex %>;"></div>
      <!-- <%= link_to 'Destroy', color, method: :delete %> -->
  <% end %>
</div>


<%= render 'form' %>

<!-- <%= link_to 'New Color', new_color_path %> -->
