<div id="color-container">
  <% @colors.each do |color| %>
    <% if ( color.hex =~ /^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/ )%>
      <div class="color-box" style="background:<%= color.hex %>;"></div>
      <!-- <%= link_to 'Destroy', color, method: :delete %> -->
    <% end %>
  <% end %>
</div>


<%= render 'form' %>

<!-- <%= link_to 'New Color', new_color_path %> -->

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://unichro.me/" data-text="Add a Color" data-via="Unichrome1">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>