<div id="color-container">
  <% @colors.each do |color| %>
    <% if ( color.hex =~ /^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/ )%>
      <div class="color-box" style="background:<%= color.hex %>;"></div>
      <!-- <%= link_to 'Destroy', color, method: :delete %> -->
    <% end %>
  <% end %>
  
  <div class="color-box" id="last"></div>
</div>


<%= render 'form' %>

<!-- <%= link_to 'New Color', new_color_path %> -->