// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#color-container{
  position:relative;
  width:500px;
  margin:0 auto;
  overflow:auto
}

.color-box{
  display:block;
  width:5px;
  height:5px;
  float:left;
}

form#new_color{
  text-align:center;
  margin-top:50px;
}

.sp-container{
  border:none;
}
