// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#color-container{
  position:relative;
  width:500px;
  margin:0 auto;
  overflow:auto
}

.color-box{
  display:block;
  width:5px;
  height:5px;
  float:left;
  
  &#last{
    @include box-sizing;
    background:transparent;
    border:1px solid black;
  }
}

form#new_color{
  text-align:center;
  margin-top:50px;
  
  .actions{
    position:relative;
    top:-20px;
  }
}

.sp-container{
  background:none;
  border:none;
}

.sp-palette-container{
  display:none;
}

.sp-picker-container{
  border-left:none;
}