// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html{
  width:100%;
  margin:0;
}

body{
  text-align:center;
}

header#main{
  width:100%;
  height:50px;
  text-align:center;
  display:none;
}

footer#main{
  position:fixed;
  right:20px;
  bottom:10px;
  font-family: 'Courier', sans-serif;
  font-size: 8px;
  color:black;
  

  
  
  
}

footer#main iframe.twitter-share-button{
  float:right;
  margin-bottom:10px;
  width:84px !important;
}

footer#main #credits{
  float:right;
  clear:both;
  
  
}
footer#main #credits a{
  text-decoration:none;
  color:black;

  
}

footer#main #credits a:hover{
  color:white;
}